.logount {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
}

.manu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.divmenu{
    width: 100px;
}

.divP{
    opacity: 100%;
    width: 100px;
    font-size: 30px;
}