.navbar_head {
   width: 100%;
   background-color: black;
   padding: 10px;

}

.navbar_logo {
   width: 55%;
   display: flex;
   justify-content: space-between;


}

/* .navbar_container {
 

} */



.menu_search_item {

   display: flex;
   justify-content: space-between;
}



.user_name_surname {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   color: aliceblue;

}

.userNameSurname {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}