.logount {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
}



/* .divmenu{
    width: 100px;
} */


.navbar_menu{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.navbar_menu :hover{
    color:blueviolet;
}