
html{
  width: 100vw;
  height: 100vh
}

.App {
  text-align: center;
}

body {

  background-image: url(../public/login.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw; 
  height: 100vh;

}

.profile {
  background-color: rgb(10, 10, 20);
  color: rgba(255, 255, 255, .55);
  width: 98%;
  height: 95%;
  margin: 5px auto;
  padding: 10px;
  opacity: 90%;
  border-radius: 10px;
  display: flex;
  font-size: small;

}

.btn{
  color:  rgba(255, 255, 255, .55);
  font-size: small;

}

input{
  border-radius: 5px;
  font-size: small;
}


select{
  border-radius: 8px;
  width: 200px;
  height: 28px;
  font-size: small;
}


label{
  font-size: small;
}

table{
  font-size: small;
}