.divTexture{
    background-color: rgb(10, 10, 20);
    color: rgba(255, 255, 255, .55);
    width: 50%;
    height: 50%;
    margin: 5px auto;
    padding: 10px;
    opacity: 90%;
    border-radius: 10px;
    display: flex;
}