.buyerStrech {


  background-color: #0a0a14;
  color: rgba(255, 255, 255, .55);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
  width: 98%;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  

}

.buyer_head {
  display: flex;
  column-gap: 20px;
}

.buyer_checkbox {
  display: flex;
  gap: 10px;

}

.buyer_Strech {

  display: flex;
  justify-content: space-between;
 
}

.buyer_first_section {

  width: 50%;
}

.buyer_name_surname {
  display: flex;

}

.buyer_comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  align-items: center;
}

.buyercomment {
  width: 80%;
  height: 80%;
  border-radius: 5px;
}

.buyer_date {
  width: 25%;
}