.paymentSection {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.paymentSection th {
    border: 1px solid black;
}

.paymentSection td {
    border: 1px solid black;
}

.buyerCommentBuyerSection {
    min-width: 300px;
}

.buyerSectionName {
    width: 100%;
    text-align: center;
}

.buyerSectionName th {
    border: 1px solid black;
}

.buyerSectionName td {
    border: 1px solid black;
}

.buyerPhone1_2{
    display: flex;
    gap: 5px;
    justify-content: center;
}