.paymentSection {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.paymentSection th {
    border: 1px solid black;
}

.paymentSection td {
    border: 1px solid black;
}

.paymentSection tr {
height: 10px;
}

.buyerCommentBuyerSection {
    min-width: 300px;
}

.buyerSectionName {
    width: 100%;
    text-align: center;
}

.buyerSectionName th {
    border: 1px solid black;
}

.buyerSectionName td {
    border: 1px solid black;
}

.buyerSectionName tr{
    height: 10px;
}

.buyerPhone1_2 {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.tableStretchSection{
    border: 1px solid black;
    margin-top: 20px;
}

.tableStretchSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;

}

.tableStretchSection td{
    border: 1px solid black;
    text-align: center;
}
.tableAdditionalSection{
    border: 1px solid black;
    margin-top: 20px;

}

.tableAdditionalSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;

}

.tableAdditionalSection td{
    border: 1px solid black;
    text-align: center;
}
.tableProfilSection{
    border: 1px solid black;
    margin-top: 20px;

}

.tableProfilSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;

}

.tableProfilSection td{
    border: 1px solid black;
    text-align: center;
}
.tableLightPlatformSection{
    border: 1px solid black;
    margin-top: 20px;

}

.tableLightPlatformSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;

}

.tableLightPlatformSection td{
    border: 1px solid black;
    text-align: center;
}
.tableLightRingSection{
    border: 1px solid black;
    margin-top: 20px;

}

.tableLightRingSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;

}

.tableLightRingSection td{
    border: 1px solid black;
    text-align: center;
}
.tableBardutyunSection{
    border: 1px solid black;
    margin-top: 20px;

}

.tableBardutyunSection th{
    border: 1px solid black;
    text-align: center;
    min-width: 150px;
}

.tableBardutyunSection td{
    border: 1px solid black;
    text-align: center;
}

.roomBardutyun{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.stretchPatverSection{
    width: 50%;
}

.order_nkaragrutyun{
    margin: 5px;
}
.order_nkaragrutyun textarea{
   padding: 5px;
   min-height: 150px;
   width: 500px;
}

.tableSection {
    max-width: 20%;
    border: 2px solid black;
}

.tableSection th {
    text-align: center;
    width: 50px;
    font-size: 13px;
}

.tableSection td {
    text-align: center;
    height: 10px;
    font-size: 13px;
}

.tableSection tr {
    height: 10px;
}