.homePageDiv {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.homeImg {
    width: 200px;
    height: 150px;
}

.wellcome {
    margin: 50px;
}

.homepageBody {
    padding: 5px;
    background-image: url('../../assets/img/homepageBody.jpg');
    height: 91vh;
    color: aqua;
}

