.divMenu {
    background-color: rgb(10, 10, 20);
    color: rgba(255, 255, 255, .55);
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    opacity: 90%;
    border-radius: 10px;
    display: flex;
    position: fixed;
    top: 30;
    left: 35px;
    z-index: 100;
}


.divTable {
    background-color: rgb(10, 10, 20);
    color: rgba(255, 255, 255, .55);
    width: 95%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    opacity: 90%;
    border-radius: 10px;
    display: flex;
    position: absolute;
    left: 35px;
    top: 185px;
    font-size: 15px;
}

.tableHead{
    background-color: rgb(4, 4, 8);
    color: rgba(255, 255, 255, .55);
    width: 95%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    left: 35px;
    top: 185px;
    z-index: 10;
}
.tableBody{
 
    width: 95%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 100px;
}

.selectFilter {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 180px;
}

.seltype {
    width: 100px;
    background-color: rgb(10, 10, 20);
    color: white;
    opacity: 90%;
    border: 1px solid rgb(10, 10, 20);;
}

.divTotal{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px;
}