

.addBuyerButton {
  display: flex;
  justify-content: center;
  
   
}
.addBuyer_profile_info{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.addBuyer_profile_info input{
    border: 1px solid rgb(95, 91, 91);
    box-sizing: border-box;
}
.admin_profile_table {
    color: rgb(80, 78, 78);
    background-color: rgb(245, 245, 245);
    width: 100%;
    font-size: 12px;


}
.addBuyer_profile_info_user{
    display: flex;
    gap: 10px;
}

