.admin_profile {
    background-color: rgb(65, 62, 62);

    display: flex;
    justify-content: center;
    align-items: center;
}



.admin_profile_table {
    color: rgb(80, 78, 78);
    background-color: rgb(245, 245, 245);
    width: 100%;

}

.profile_table_head {
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

.profile_table_head,
tr {

    border: 1px solid rgb(202, 187, 187);
    height: 50px;

}