.profile {
    background-color: rgb(10, 10, 20);
    color: rgba(255, 255, 255, .55);
    width: 98%;
    height: 95%;
    margin: 5px auto;
    padding: 10px;
    opacity: 90%;
    border-radius: 10px;
    display: flex;
}

.btn {
    color: rgba(255, 255, 255, .55);
}

.divBtn {
    margin: auto;
    text-align: center;

}

.userInput {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
}

.btn_close {
    font-size: 10px;

}

.orderDiv {
    background-color: rgb(10, 10, 20);

    opacity: 90%;
    border-radius: 10px;
    width: 98%;
    height: 95%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buyerDiv {
    border: 3px solid rgba(255, 255, 255, .55);
    padding: 5px;
    border-radius: 10px;
    color: rgba(255, 255, 255, .55);
}

.wallpaperDiv {
    display: flex;
}
.selectCoop{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
}
․selectAll{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
}
.formdiv{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}
.formSelect{
   
    display: flex;
}

